<div id="{{ formGroupID }}" class="form__group">
    {{#if label}}
    <label for="{{ id }}" class="form__label">{{ label }}</label>
    {{/if}}
    <div class="form__input-wrapper">
        <img class="{{ preIconClass }}" src="./../../assets/img/lock.svg" alt="{{ preIconClass }}">
        <input placeholder="{{ placeholder }}" type="password" id="{{ id }}" name="{{ name }}" class="form__input" required="{{ required }}">
        <img class="watch-icon" id="{{ postIconID }}" src="./../../assets/img/eye_close.svg" alt="lock">
    </div>
    <p id='input-error-{{id}}' class="password-input-error"></p>
</div>