<a class="top-film">
    <section>
        <div class="top-film__content">
            <div class="top-film__header">
                <h1 class="top-film__title">{{title}}</h1>
                <div class="top-film__rating-{{ratingType}}">
                    <h3 class="top-film__rating-title">{{rating}}</h3>
                </div>
            </div>
            <ul class="top-film__info">
                <li class="top-film__item lato-family">{{year}}</li>
                <li class="top-film__item lato-family">{{genre}}</li>
                <li class="top-film__item lato-family">{{duration}}</li>
            </ul>
            <h2 class="top-film__description">{{desription}}</h2>
        </div>
        <img src={{image}} alt={{title}} class="top-film__image">
    </section>
</a>
