<a href="#" class="top-film">
    <section>
        <div class="top-film__content">
            <h1 class="top-film__title">{{title}}</h1>
            <ul class="top-film__info">
                <li class="top-film__item">{{year}}</li>
                <li class="top-film__item">{{genre}}</li>
                <li class="top-film__item">{{duration}}</li>
            </ul>
            <h3 class="top-film__description">{{desription}}</h3>
        </div>
        <img src={{image}} alt={{title}} class="top-film__image">
    </section>
</a>